<html>
<head><h1>Automated EDI Server Patching has completed</h1></head>
<body>

<div>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:Calibri;mso-bidi-font-family:Calibri'>
This is a notification that the scheduled Rebooting, has completed on the EDI Servers.
<o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:Calibri;mso-bidi-font-family:Calibri'>
Please start Testing on these servers.
<o:p></o:p></span></p>

</body>
</html>
