<html>
<head><h1>Automated Core Domain Controller Patching has completed</h1></head>
<body>

<div>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:Calibri;mso-bidi-font-family:Calibri'>
This is a notification that the scheduled Patching, has completed on the Core Domain Controllers, & the Servers have completed Rebooting.
<o:p></o:p></span></p>

{% if dcs_servers is defined %}
{% if dcs_servers|length > 0 %}
<table style='font-family:"Courier New", Courier, monospace; font-size:125%' border=1>
  <th align="left"><b>Server Hostname:</b></th>

{% for dcs_server in dcs_servers %}
  <tr><td>{{ dcs_server }}</td></tr>
{% endfor %}

</table>
{% endif %}
{% endif %}

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:Calibri;mso-bidi-font-family:Calibri'>
Please start Testing on these servers.
<o:p></o:p></span></p>

</body>
</html>
