$TargetServer = "{{ inventory_hostname_short|upper }}"
foreach ($ClusterService in (Get-ClusterGroup | Select-Object Name | ForEach-Object {$_.Name})) {
  $NewHost = Get-ClusterGroup -Name "$($ClusterService)" | Select-Object OwnerNode | ft -hidetableheaders | Out-String
  $NewHost = $NewHost -replace '\s',''
  If ($NewHost -ne $TargetServer) {
      Return $false
  }

  Return $true
}
