$TargetServer = "{{ inventory_hostname_short|upper }}"
foreach ($ClusterService in (Get-ClusterGroup | Select-Object Name | ForEach-Object {$_.Name})) {
	Move-ClusterGroup "$($ClusterService)" -node $TargetServer
}

Start-Sleep -s 30

# Create Completion File
$Date = Get-Date -format yyyyMMdd
Add-Content C:\temp\ansible\ClusterMoved.txt "Cluster Move Completed at $Date"
