<html>
{% if rpa_env is defined %}
<head><h1>Automated RPA Server Patching of <u>{{ rpa_env|upper }} Environment</u> has completed</h1></head>
{% else %}
<head><h1>Automated RPA Server Patching has completed</h1></head>
{% endif %}
<body>

<div>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:Calibri;mso-bidi-font-family:Calibri'>
This is a notification that the scheduled Patching, has completed on the RPA Servers, & the Servers have completed Rebooting.
<o:p></o:p></span></p>

{% if rpa_servers is defined %}
{% if rpa_servers|length > 0 %}
<table style='font-family:"Courier New", Courier, monospace; font-size:125%' border=1>
  <th align="left"><b>Server Hostname:</b></th>

{% for rpa_server in rpa_servers %}
  <tr><td>{{ rpa_server }}</td></tr>
{% endfor %}

</table>
{% endif %}
{% endif %}

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt;font-family:"Calibri",sans-serif;
mso-fareast-font-family:Calibri;mso-bidi-font-family:Calibri'>
Please start Testing on these servers.
<o:p></o:p></span></p>

</body>
</html>
